<app-navigation></app-navigation>
<h3 class="w-50 text-center mx-auto">
    Create Parfume
</h3>

@if(parfum$ | async; as parfum ) {
<form #editForm="ngForm" class="w-50 mx-auto" (ngSubmit)="onCreate(parfum)">

    <div class="form-group mt-3">
        <label for="">ID</label>
        <input required pattern="[a-zA-Z0-9\s]+" type="text" name="id" id="id" class="form-control"
            [(ngModel)]="parfum.id">

    </div>

    <div class="form-group mt-3">
        <label for="">Name</label>
        <input required pattern="[a-zA-Z0-9\s]+" type="text" name="name" id="name" class="form-control"
            [(ngModel)]="parfum.name">

    </div>

    <div class="form-group mt-3">
        <label for="">Brand</label>
        <input required pattern="[a-zA-Z0-9\s]+" type="text" name="brand" id="brand" class="form-control"
            [(ngModel)]="parfum.brand">

    </div>

    <div class="form-group mt-3">
        <label for="">Price</label>
        <input required pattern="[0-9]+$" type="number" name="price" id="price" class="form-control"
            [(ngModel)]="parfum.price">

    </div>

    <div class="form-group mt-3">
        <label for="">Quantity</label>
        <input required pattern="[0-9]+$" type="number" name="quantity" id="quantity" class="form-control"
            [(ngModel)]="parfum.quantity">

    </div>



    <div class="form-groUp">
        <button [disabled]="editForm.invalid" type="submit" class="btn btn-primary mt-3">Create</button>
    </div>


</form>
}