
  .row {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .container {
    overflow-x: auto;
  }
  
  .form-container {
    background-color: #f0f0f0;
    border: 4px solid #8a2be2; 
    border-radius: 15px;
    padding: 40px;
    max-width: 700px;
    width: 100%;
  }
  
  .form-label {
    color: #8a2be2;
    font-weight: bold;
    font-size: 1.5rem; 
  }
  
  .form-control {
    background-color: #f0f0f0;
    border: 2px solid #8a2be2; 
    color: #333333;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
  }
  
  .form-control:focus {
    background-color: #e0e0e0;
    border-color: #ff69b4; 
  }
  
  .btn-outline-primary {
    background-color: #8a2be2; 
    border-color: #8a2be2; 
    color: #ffffff;
    font-size: 1.2rem; 
    padding: 10px 20px;
    margin-top: 20px;
  }
  
  .btn-outline-primary:hover {
    background-color: #ff69b4;
    border-color: #ff69b4;
    color: #ffffff;
  }
  
  .alert-danger {
    background-color: #cc0000;
    border-color: #cc0000;
    color: #ffffff;
    font-size: 1.2rem;
  }
  
  .text-end {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  