<app-navigation></app-navigation>

  <div class="container">
    <div class="content">
      <h1 class="title">Webtechnologiak webapp</h1>
      <div class="description">
        <p>
          This is a web application made for Webtechnologiak 2
        </p>
        <ul>
          <li>Explore a wide range of exclusive perfumes and manage your collection easily and efficiently with us. The application allows you to record your favorite perfumes, track their inventory, and update prices.</li>
          <li>Whether it's the classic Chanel No. 5, the sophisticated J'adore, or the fresh Light Blue, you'll find every style here. Check out our selection and find the perfect scent for you.</li>
          <li>Furthermore, you can add new perfumes to your collection and easily modify their details using our application. Whether it's the latest trends or timeless classics, you'll find everything here.</li>
          <li>Choose convenience and style in one application, and step into the world of perfumes with us!</li>
        </ul>
      </div>
    </div>
  </div>

